.profile{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.253);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.pcontainer{
    width: 350px !important;
    background-color: white !important;
    position: relative;
    padding: 40px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.pclose{
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 20px;
    width: 20px;

}

.pForm{
    display: flex;
    flex-direction: column;
    gap:10px
}

.pInputs{
    height: fit-content;
    padding: 15px 15px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    width: 200px;
}

.pButton{
    height: fit-content;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    color: white;
    background-color:  #0071c2;
    border: none;
    cursor: pointer;
}

.pUpdateDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 600px; */
}