.aContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.index{
    margin-top: 40px;
}

.abus{
    display: flex;
    width: 100%;
    max-width: 1024px;
    gap: 5px;
    border: 1px solid black;
    justify-content: space-around;
    padding: 5px;
}

.busfeature{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex:1;
    padding: 0px 20px;
}

.delete{
    outline: none;
    background-color: rgba(243, 59, 59, 0.979);
    border: none;
    color:white;
    font-size: 15px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.301);
    cursor: pointer;

}

.update{
    outline: none;
    background-color:  #0071C2;
    border: none;
    color:white;
    font-size: 15px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.301);
    cursor: pointer;

}

.seat1{
    outline: none;
    background-color: gray;
    border: none;
    color:white;
    font-size: 15px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.301);
    cursor: pointer;

}